.slider {
	width: 850px;
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
	background-color: gray;
	box-shadow: inset 0 0 1em black, 0 0 1em black;
	position: relative;
}

.slider li {
	list-style: none;
	width: 850px;
	height: 500px;
	left: 1px; /* why do I need to do this? */
	position: absolute;
}

button {
	padding: 5px;
}



p {
	text-align: center;
}