.slider {
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
	height: 720px;
	overflow: hidden;
	margin-top: 30px;
	background-color: gray;
	box-shadow: inset 0 0 1em blue, 0 0 1em blue;

}

.slider img {
	width: 1140px;
	height: 720px;	
	display: none;
}

p {

	text-align: center;
}


#logos {
	float: left;
	margin-left: 30px;
	padding: 10px;

}

#twitter {
	margin-left: 10px;
}

#git {
	text-decoration: none;
}
